
@main("Gérer les espèces") {

    <a href="/menuAdmin">Retour</a><br>

    <h1>Gestion des espèces et de leur organisation scientifique</h1>

    @for(ordre <- GroupementScientifique.findAllOfType("ordre")){

        <!-- ORDRES-->
        <div class="element level-1">
            <span class="typeGroupementScientifique">@ordre.groupement_scientifique_type.intitule</span>
            <div class="groupement">@ordre</div>
        </div>

        <div class="container level">
            <!-- SUPER FAMILLES -->
            @for(fils2 <- ordre.getFils()){
                <div class="element">
                    <div class="typeGroupementScientifique">@fils2.groupement_scientifique_type.intitule</div>
                    <div class="groupement">@fils2</div>
                </div>

                <div class="container level">

                    <!-- FAMILLES -->
                    @for(fils3 <- fils2.getFils()) {
                        <div class="element">
                            <div class="typeGroupementScientifique">@fils3.groupement_scientifique_type.intitule</div>
                            <div class="groupement">@fils3</div>
                        </div>

                        <div class="container level">

                            <!-- SOUS FAMILLES -->
                            @for(fils4 <- fils3.getFils()) {
                                <div class="element">
                                    <div class="typeGroupementScientifique">@fils4.groupement_scientifique_type.intitule</div>
                                    <div class="groupement">@fils4</div>
                                </div>

                                <div class="container level">

                                    <!-- ESPECES -->
                                    @for(espece <- fils4.getEspecesInThis()) {
                                        <div class="element">
                                            <div class="typeGroupementScientifique">espèce</div>
                                            <div class="groupement espece">@espece.espece_nom</div>
                                        </div>

                                    }
                                </div>
                            }

                            <!-- ESPECES -->
                            @for(espece <- fils3.getEspecesInThis()) {
                                <div class="element">
                                    <div class="typeGroupementScientifique">espèce</div>
                                    <div class="groupement espece">@espece.espece_nom</div>
                                </div>

                            }
                        </div>
                    }

                    <!-- ESPECES -->
                    @for(espece <- fils2.getEspecesInThis()) {
                        <div class="element">
                            <div class="typeGroupementScientifique">espèce</div>
                            <div class="groupement espece">@espece.espece_nom</div>
                        </div>

                    }
                </div>
            }

            <!-- ESPECES -->
            @for(espece <- ordre.getEspecesInThis()) {
                <div class="element">
                    <div class="typeGroupementScientifique">espèce</div>
                    <div class="groupement espece">@espece.espece_nom</div>
                </div>

            }
        </div>
    }

}{

    <style type="text/css">

        .element{
            margin: 10px;;
        }
        .level-1{
            margin-left: 10px;
        }
        .level{
            margin-left: 60px;
        }

        .typeGroupementScientifique{
            /*position: relative;*/
            /*top: 5px;*/
            font-size: small;
            color: gray;
        }
        .groupement{
            background: white;
            border: solid 1px gray;
            border-radius: 4px;
            width: 150px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .espece{
            background: lightsteelblue;
        }
        .container{
            border-left: solid 1px gray;
            margin-bottom: 20px;;
        }
    </style>

}